Library
Library/*
Temp
Temp/*
References
References/*

Assets/UnityVS
Assets/UnityVS/*

Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript-Editor-firstpass.unityproj
Assembly-UnityScript-Editor-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
constant-move-forward.sln
constant-move-forward-csharp.sln

*.csproj
*.pidb
*.unityproj
*.sln
*.suo
*.userprefs
*.lnk
*.zip

obj
obj/*


Build
Build/*
Build.meta

Unexported
Unexported/*
Unexported.meta


ProjectSettings/ProjectVersion.txt

Assets/external/config_*.txt
Assets/external/config_*.txt.meta